---

---

<div class="w-[1200px] max-w=[calc(100%-60px)] mx-auto mt-12 px-12">
  <h2 class="text-5xl mb-2 text-slate-100">About</h2>

  <p class="leading-7">
    With over 5 years of experience in software engineering, I have a proven
    track record of developing and optimizing complex systems to enhance
    efficiency and user experience. My expertise spans a wide range of
    technologies, with a current focus on .NET and React. I am always keen to
    learn new languages and frameworks to stay at the forefront of the industry.
  </p>
  <p class="leading-7 mt-6">
    I am known for my attention to detail and ability to create beautiful,
    pixel-perfect designs. Passionate about leveraging technology to solve
    real-world problems, I excel at building robust applications while ensuring
    an exceptional user experience. Let’s connect to explore how we can
    collaborate on innovative projects or discuss the latest tech trends.
  </p>
</div>
