---
const BLOG_URL = "https://blog.thecallum.com/";
---

<header class="">

  <!-- w-[calc(100%)] max-w-[1400px] mx-auto mb-8 md:mb-16  px-6 mt-6 md:w-[calc(100%-30px)] -->
  <div
    class="w-[100%] max-w-[1400px] mx-auto mt-4 lg:mt-8 md:w-[calc(100%-30px)] flex justify-between px-6"
  >
    <div class="text-slate-400">thecallum.com</div>

    <div class="text-slate-400"><a href={BLOG_URL}>Blog</a></div>
  </div>
</header>
