---
const BLOG_URL = "https://blog.thecallum.com/";
---

<header class="">
  <div
    class="w-[1200px] max-w=[calc(100%-60px)] mx-auto px-12 mt-12 flex justify-between"
  >
    <div>thecallum.com</div>

    <div><a href={BLOG_URL}>Blog</a></div>
  </div>
</header>
