---
interface Props {
  heading: string;
  customClass?: string;
}

const { heading, customClass = "" } = Astro.props;
---

<section class={`mb-12 lg:mb-24 ${customClass}`}>
  <div
    class="w-[calc(100%)] max-w-[1200px] mx-auto md:w-[calc(100%-30px)] px-6"
  >
    <h2
      class="tracking-widest text-md font-bold uppercase mb-4 md:text-lg md:mb-6 lg:mb-8 text-slate-300 font-heading"
    >
      {heading}
    </h2>

    <div class="flex justify-send">
      <div class="max-w-[1000px]">
        <slot />
      </div>
    </div>
  </div>
</section>
