---
interface Props {
  heading: string;
}
---

<div
  class="w-[calc(100%)] max-w-[1400px] mx-auto px-6 md:w-[calc(100%-30px)] mt-16 lg:mt-24 xl:mt-32"
>
  <h2 class="text-md uppercase mb-6 md:text-lg  md:mb-8 text-slate-200 font-heading">
    {Astro.props.heading}
  </h2>

  <div class="max-w-[1000px]">
    <slot />
  </div>
</div>
