---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/homepage/Jumbotron.astro";
import About from "../components/homepage/About.astro";
import Experience from "../components/homepage/Experience.astro";
import Projects from "../components/homepage/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <main class="selection:text-purple-900 selection:bg-purple-600">
    <Jumbotron />

    <About />

    <Experience />

    <Projects />
  </main>
</Layout>

<style>
  .profile-image {
    display: block;
    position: relative;
  }


</style>
