---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/homepage/Jumbotron.astro";
import About from "../components/homepage/About.astro";
import Experience from "../components/homepage/Experience.astro"

---

<Layout title="Welcome to Astro.">
  <main>
    <Jumbotron />

    <About />

   <Experience />
  </main>
</Layout>

<style>
  .profile-image {
    display: block;
    position: relative;

  }
</style>
