---
import LinkIcon from "./icons/LinkIcon.astro";

interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="text-sm flex items-center hover:text-emerald-400 active:text-emerald-400 focus:text-emerald-400">
  <LinkIcon fontColorClass="text-slate-400" />


  <span class="ml-1">
    <slot />
  </span>
</a>
