---
interface Props {
  technologies: string[];
}
---

<ul class="flex flex-wrap items-center">
  {
    Astro.props.technologies.map((x) => (
      <li class="text-xs text-emerald-400 bg-emerald-600/10 px-3 py-1 rounded-full mr-3 mb-3 ">
        {x}
      </li>
    ))
  }
</ul>
